# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://app:app@localhost:5432/db?schema=public"

# PORT
PORT = 5000

# TOKEN
SECRET_KEY = secretKey

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = *
CREDENTIALS = true

#JWT KEYS

PRIVATE_KEY=`-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAujOm4towOPCVo+hOfd1EiSIxSmhhyK5/ojU6H4GCbmSwHrhI
5Vm+lmpE0n9uIFYK+nQGfi2uQLLjGQgv5nABSyqPy0p1qQ94O82Tk+l5tiI831YL
vbPoL3Af6ZtGFWxPt/sgwz3TG9qVLYpnFGwftTAFhEwXKgYOT87ys6+9FLlbvFuu
3ImdycHaZq2qouW4ue95WJZmcw07vanmBykBmVi/um3rUg8SJIBf/2VbaZRcEtAl
OkUtS5Bv7MYcDNOxP3aU6Sf/hO4vx732X9IlIh9qzkecrygevp12OY77HVczc3LZ
eBfFmDginWFJUPCQ60gPOMn1EBZxZNKy4Lb9NQIDAQABAoIBAA9FczeBy5iv6qXx
xJZAEoHowwAmRXbPEPq9wNGarpbdPTCXzqq4zI/LkW9uMhsG04mtAGdS2crGoSeJ
a1xL7V8702VJ6xJ9iU/mUWc9K9VLQ5DRns7lNXLGkGd5a6sQIg2l1A8PQAQ1zixZ
AJFFOOiEUr+B+hhhPMVA5Njl3e0YDoGYxxBuyQHXyagZIziMsOqEgQWglZruj+Nq
gyQLkqMFuu+80NLelDpdyQIwTfytluZE2WBQa5zxYcEVQgIbRpOoGIa7gdxgF+Zr
GhpS37oycW9XBlpmzQ1jwewUlg1JgGAAB2B1vFcaBrp9cp9dw8fcJdirlSSR8IDU
XDsiD+ECgYEA/Or5v7gPQiksc0WwEYMf505VWdP03T64eLMiuELoK2VRxIF3KsAS
J7GlerfOrWJINGJSRzwo39523zA5rNBMJYHfmZHBhx78MjgGrqE9EZ6xwK3nEnRo
CvZtg+V2ycizBGmPyaScsOA8OJdoJAOffQBzt7f9y6Ggot6O/gCacDkCgYEAvHiL
AWvtT4wpN1Dd0KxTre12nVhCsp25Q+xcSYHTc1jTf14gHTi2zYqGh1vQxwiy6JbV
Cwp0tAwI0JVZqKiJOlkD5erCaVp4GPh/SupOTHkVws7dJjDJ6iVnd0QFCjvxmF4f
Gkfs+AG+AYbkwW9mXEgu/eBFYj6K5wQmyyRM/N0CgYAWHuchIZQUEU3V9y5jGbjc
njlQ1f0ArM+tnt1WiGOOCBqSuVAW6R2tYxg6F4F4ILR4AHF50YUxr19uPeWNe9pt
HWLVJ65phwg/zC6pb2jL9blOROeE8bF34/3IH3W4SFl/9UuiM0eRIMujl3qAS+DT
Kgr08p68BLLsC9Mt3Bel4QKBgFPgGYzCaVRTfiw98tlhN8RZv8X6d4RiKQcPc2rL
Oj1FNKqkSwp2KPSER6aJt/o75tMX/SvytUlDadDaBpLGnnu3DcMOnQKh3nzOamf+
qmXiJUsTINxULifkCY3MWanaT4SNrq3VgKJGtDadv8ROPXGoNjGJ05cLWmnBMTqK
pzCJAoGAKacxoTjQ6x7ojvimWiQaaN7C5YaU89PZ2lXDZ9yCZ0V/jQ6/1nrYJ2UG
4oeEw4NTudHHzERRZvFL700XLoElkfGT5OxpLvPZ3BZo/Fek9IOEbdMUTLzUX6I0
ClH1FWy8NDo8f3/M6oDoOKkVNFgEpoKt/B2YfPA7W/kvcYmD/Bg=
-----END RSA PRIVATE KEY-----`

PUBLIC_KEY=`-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAujOm4towOPCVo+hOfd1E
iSIxSmhhyK5/ojU6H4GCbmSwHrhI5Vm+lmpE0n9uIFYK+nQGfi2uQLLjGQgv5nAB
SyqPy0p1qQ94O82Tk+l5tiI831YLvbPoL3Af6ZtGFWxPt/sgwz3TG9qVLYpnFGwf
tTAFhEwXKgYOT87ys6+9FLlbvFuu3ImdycHaZq2qouW4ue95WJZmcw07vanmBykB
mVi/um3rUg8SJIBf/2VbaZRcEtAlOkUtS5Bv7MYcDNOxP3aU6Sf/hO4vx732X9Il
Ih9qzkecrygevp12OY77HVczc3LZeBfFmDginWFJUPCQ60gPOMn1EBZxZNKy4Lb9
NQIDAQAB
-----END PUBLIC KEY-----`



